<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--1.导入Vue的包-->
    <script src="./lib/vue2.6.10.js"></script>
</head>

<body>
    <!-- 2. 创建一个要控制的区域 -->
    <div id="app">

        <div>
            <label>ID:
                <input type="text" v-model="id">
            </label>
        
            <label>Name:
                <input type="text" v-model="name">
            </label>

            <input type="button" value="添加" @click="add">
            <input type="button" value="首行插入添加" @click="addfront">


        </div>

        <!-- 注意：v-for 循环时，应记得定义key属性（用v-bind绑定一个key属性），实现深度绑定，以免出现奇怪问题，key属性只能用 number/string -->
        <p v-for="item in list" :key="item.id">
            <input type="checkbox">ID: {{ item.id }} --- name: {{ item.name }}
        </p>
    </div>

    <script>
        // 3.创建一个Vue的实例
        //   当我们导入Vue的包之后，在浏览器的内存中就多了一个 Vue 的构造函数
        var vm = new Vue({
            el: '#app',  // 表示，当前我们 new 的这个 Vue 的实例，要控制页面上的哪个区域。
            data: {     // data 属性中，存放的是 el 中要用到的数据

                name: '',
                id: '',
                list: [
                    { id: 1, name: '小a' },
                    { id: 2, name: '小b' },
                    { id: 3, name: '小c' },
                    { id: 4, name: '小d' },
                    { id: 5, name: '小e' }
                ]
            },
            methods: {
                add(){   //push在后面添加，unshift在前面插入
                    this.list.push({id: this.id, name: this.name})
                },
                addfront(){
                    this.list.unshift({id: this.id, name: this.name})
                }
            }

        })
    </script>
</body>

</html>
